# Collaberative filtering from scratch
> Description text

- toc: true 
- comments: true
- image: images/aihuman.jpeg
- categories: [deep-learning-theory]

## Introduction

Text...

In [1]:
#hide
!pip install -Uqq fastbook
import fastbook
fastbook.setup_book()
from fastbook import *
from fastai.collab import *
from fastai.tabular.all import *

     |████████████████████████████████| 727kB 7.0MB/s
     |████████████████████████████████| 204kB 10.8MB/s
     |████████████████████████████████| 51kB 5.5MB/s
     |████████████████████████████████| 1.2MB 13.0MB/s
     |████████████████████████████████| 61kB 7.3MB/s
     |████████████████████████████████| 61kB 7.7MB/s
Mounted at /content/gdrive

## Dataset

We will use the [MovieLens](https://grouplens.org/datasets/movielens/) dataset, and a special subset curated by fastai of the 100,000 movies. This consists of 2 separate tables for ratings and movies, which we will join together.

In [2]:
# Download data
path = untar_data(URLs.ML_100k)

# Load ratings table
ratings = pd.read_csv(path/'u.data', delimiter='\t', header=None,
                      names=['user','movie','rating','timestamp'])
ratings.head()

   user  movie  rating  timestamp
0   196    242       3  881250949
1   186    302       3  891717742
2    22    377       1  878887116
3   244     51       2  880606923
4   166    346       1  886397596

In [3]:
# Load movie table
movies = pd.read_csv(path/'u.item',  delimiter='|', encoding='latin-1',
                     usecols=(0,1), names=('movie','title'), header=None)
movies.head()

   movie              title
0      1   Toy Story (1995)
1      2   GoldenEye (1995)
2      3  Four Rooms (1995)
3      4  Get Shorty (1995)
4      5     Copycat (1995)

In [4]:
# Merge tables
ratings = ratings.merge(movies)
ratings.head()

   user  movie  rating  timestamp         title
0   196    242       3  881250949  Kolya (1996)
1    63    242       3  875747190  Kolya (1996)
2   226    242       5  883888671  Kolya (1996)
3   154    242       3  879138235  Kolya (1996)
4   306    242       5  876503793  Kolya (1996)

In [5]:
# Create dataloader
dls = CollabDataLoaders.from_df(ratings, item_name='title', bs=64)
dls.show_batch()

## Theory

The key data here is the ratings i.e. the user-movie ratings, as we can see in the listing above. In collaberative filtering, an easier way to see this is as a user-item matrix, with movies as columns, users as rows, and cells as the ratings for each user-movie combination.

![](https://github.com/fastai/fastpages/raw/master/images/diagram.png \"https://github.com/fastai/fastpages\")\n

## Collaberative filtering - Model 1

## Collaberative filtering - Model 2

## Collaberative filtering - Model 3

## Weight decay

## Manual embeddings

## Collaberative filtering - Model 4

## Conclusion